body {
  background: #123;
  color: #fff;
}

main {
  width: 300px;
  margin: 50px auto 0;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  margin-top: -12px;
}

div.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid #fff;
}

div.square {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  box-sizing: border-box;
  font-size: 5rem;
  text-align: center;
}
div.util {
  width: 300px;
  padding: 10px 0px;
  border: 1px solid #fff;
  display: flex;
  /* justify-content: center; */
  gap: 20px;
}
div.points {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
button.reset {
  /* width: 300px; */
  /* padding: 10px 0px; */
  margin: 5px;
  border: 2px solid #fff;
  background: #123;
  color: #fff;
  padding: 10px 5px;
  text-align: center;
}

div.result {
  font-size: 2rem;
  padding: 10px 0;
  text-align: center;
  width: 300px;
}

.green {
  background-color: #5a5;
  border: 1px solid #fff;
}

.red {
  background-color: #a55;
  border: 1px solid #fff;
}

.gray {
  background-color: rgb(58, 57, 57);
  border: 1px solid #fff;
}

.sus {
  font-size: 1rem;
}
